### Savoir se connecter à une base de données relationnelle

#### PostgreSQL

In [8]:
from dotenv import load_dotenv
import os
import psycopg2
import psycopg2.extras

In [12]:
load_dotenv()

conn = None
cur = None
try:
    conn = psycopg2.connect(
        dbname=os.getenv('DB_NAME'),
        user=os.getenv('DB_USER'),
        password=os.getenv('DB_PASSWORD'),
        host=os.getenv('DB_HOST'),
        port=os.getenv('DB_PORT')
    )
    
    cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    
    cur.execute('DROP TABLE IF EXISTS employee')
    
    create_script = """ 
    CREATE TABLE IF NOT EXISTS employee (
        id int PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        salary int,
        dept_id VARCHAR(100)
    );
    
    """
    
    cur.execute(create_script)
    
    insert_script = "INSERT INTO employee (id, name, salary, dept_id) VALUES (%s, %s, %s, %s)"
    insert_values = [(1, 'John Doe', 50000, 'D1'), (2, 'Jane Doe', 60000, 'D2'), (3, 'Tom Doe', 70000, 'D3')]
    cur.executemany(insert_script, insert_values)
    
    update_script = "UPDATE employee SET salary = %s WHERE id = %s"
    update_values = (70000, 1)
    cur.execute(update_script, update_values)
    
    delete_script = "DELETE FROM employee WHERE id = %s"
    delete_values = (2,)
    cur.execute(delete_script, delete_values)
    
    cur.execute('SELECT * FROM employee')
    for row in cur.fetchall():
        print(row['id'], row['name'], row['salary'], row['dept_id'])
        
    
    
    conn.commit()
    
    
except Exception as e:
    print('Database connection failed: ', e)
finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

3 Tom Doe 70000 D3
1 John Doe 70000 D1